<% provide(:title, 'About Us') %>
<br/>
<h1>About Us</h1>
<p>

Many companies love to talk about themselves. That's why we developed an online analysis tool several years ago that counts certain words on your site that are key indicators of whether your focus is on the customer or on you.

To buy, customers must hear about themselves and what you can do for them.

When a customer clicks on your "About Us" page, she's giving you permission to talk to her about your company. That doesn't mean you shouldn't focus on what she needs. Just because she's asking about you, doesn't mean you get to bore her with what you're excited about or leave her with more questions, or even make her doubt if she should buy from you.

An "About Us" page is a tremendous opportunity to cement a relationship with many prospective customers. It can put a human face on an otherwise technical, dry, and impersonal page. Properly written, it can provide some serious buying resolve to certain customer segments.

Humans want to connect with other humans. That's easy to forget in a transaction-focused business world. Yet consider MySpace.com's explosive success. What's MySpace if not a massive collection of "About Me" pages?

The same power of human attraction can be properly used in a persuasion scenario in which the "About Us" page acts as a waypoint.</p><br/>
<b>Common "About Us" Page Mistakes</b>
    <p>Let customers see a more human side of your company. E-Trade's advertising makes it seem like a fun company, but the "About Us" page displays none of that human personality.

    Tell your company's story. McDonalds's does a nice job with this, as does Dave and Busters. A company history timeline is a great way to highlight achievements without braggadocio.

    Reflect your company's passion. Check out Nike.com's "About Us" page.

    Reflect your company's personality. If you're a fun company, your "About Us" page should be fun.

    Let the customer inside your company. Bungie, makers of Halo, go so far as to have Webcams online.

    Reiterate your company's competence to serve the customers by using all the above tools.</p>
