// Place all the styles related to the Experts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

input, textarea {
  border: 1px solid #bbb;
  width: 300px;
  margin-bottom: 15px;
}
